<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title block for dynamic page titles -->
    <title>{% block title %}Go Mart{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" id="menu-toggle">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/products">Shop</a></li>
                <li><a href="/orders/cart">Cart</a></li>
                <li><a href="/auth/login">Sign-in</a></li>
                
                <form class="search-form" action="/search" method="get">
                    <input type="text" name="q" class="search-bar" placeholder="Search"
                        onclick="this.placeholder = ''"
                        onblur="this.placeholder = 'Search'">
                    <button class="search-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </ul>
            <h1 class="logo">Go Mart</h1>
        </div>
    </nav>

    <!-- Flash Messages -->
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <!-- Main Content -->
    <main class="main-content">
        {% block contents %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Sahara E-Commerce Store. All rights reserved.</p>
        </div>
    </footer>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>
